span.utterance-transcription
{
	font-family: 'Courier New';
	display: inline;
	text-transform: lowercase;
}

span.ui
{
	font-weight: bold;
}

span.emphasis
{
	font-weight: bold;
	font-style: normal;
}

span.deviceresponse
{
	color: #232f3e;
}